/* Reset styles */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  /* overflow: hidden; Removed to allow scrolling on mobile */
}

#app {
  width: 100%;
  min-height: 100vh;
}
